@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html>
<head>
    <title>Brigitas Bodite Products</title>
	<meta charset="utf-8" />

    <link rel="stylesheet" href="@Url.Content(@"~/Content/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content(@"~/Content/css/croppic.css")" />
    <link rel="stylesheet" href="@Url.Content(@"~/Content/css/ui.fancytree.css")" />
    <link rel="stylesheet" href="@Url.Content(@"~/Content/css/admin_products.css")" />

    <style>
        
    </style>

</head>
<body ng-app="BoditeAdmin">

    <nav id="sectionMenu">
        <ul>
            <li><a href="./admin">Dashboard</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#categories">Categories</a></li>
        </ul>
    </nav>

    <section ng-view></section>

    <script src="@Url.Content(@"~/Content/js/jquery.js")"></script>
    <script src="@Url.Content(@"~/Content/js/jquery-ui.js")"></script>
    <script src="@Url.Content(@"~/Content/js/contextmenu.js")"></script>
    <script src="@Url.Content(@"~/Content/js/angular.js")"></script>
    <script src="@Url.Content(@"~/Content/js/angular-route.js")"></script>
    <script src="@Url.Content(@"~/Content/js/smap-shim.js")"></script>
    <script src="@Url.Content(@"~/Content/js/bodite_fuse.js")"></script>
    <script src="@Url.Content(@"~/Content/js/math.uuid.js")"></script>
    <script src="@Url.Content(@"~/Content/js/canvas-to-blob.js")"></script>
    <script src="@Url.Content(@"~/Content/js/pica.js")"></script>
    <script src="@Url.Content(@"~/Content/js/aws-sdk.js")"></script>
    <script src="@Url.Content(@"~/Content/js/jquery.fancytree.js")"></script>
    <script src="@Url.Content(@"~/Content/js/jquery.fancytree.dnd.js")"></script>
    <script src="@Url.Content(@"~/Content/js/bodite_fancytree.js")"></script>
    <script src="@Url.Content(@"~/Content/js/bodite_croppic.js")"></script>
    <script src="@Url.Content(@"~/Content/js/bodite_admin.js")"></script>
    <script src="@Url.Content(@"~/Content/js/bodite_admin_categories.js")"></script>
    <script src="@Url.Content(@"~/Content/js/bodite_routes.js")"></script>
</body>
</html>
